<div class= "user-show-container">
  <h1>Your historic with <%= @user.first_name %> <%= @user.last_name %> </h1>
    <% lendings = user_borrowings(@user) %>
  <div class="loan-index">
    <% lendings.each do |loan| %>
      <% count = 0 %>
      <% unless loan.status == 'returned' %>
        <% count += 1 %>
          <% if count % 2 == 0  %>
            <div class="card-even-lending" data-controller='modal' data-modal-target="loan" data-id="<%= loan.id %>">
              <%= render '/shared/card_lending', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% else %>
            <div class="card-odd-lending" data-controller='modal' data-modal-target="loan" data-id="<%= loan.id %>">
              <%= render '/shared/card_lending', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
        <% end %>
    <% end %>
    <% borrowings = user_lendings(@user) %>
    <% borrowings.each do |loan| %>
      <% count =0 %>
      <% unless loan.status == 'returned' %>
        <% count += 1 %>
          <% if count % 2 == 0 %>
            <div class="card-even-borrowing" data-controller='modal' data-modal-target="loan" data-id="<%= loan.id %>">
              <%= render '/shared/card_borrowing', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% else %>
            <div class="card-odd-borrowing" data-controller='modal' data-modal-target="loan" data-id="<%= loan.id %>">
              <%= render '/shared/card_borrowing', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <div class="review-summary">
    <p style="color: dark; font-size: 40px;">Reviews for <%= @user.first_name %></p>
    <ul style="list-style-type: none">
      <% if @user.reviews.present? %>
        <%  @user.reviews.each do |review| %>
          <% if review.user == review.loan.user %>
            <li>"<%= review.comment %>" - <%= render 'shared/review', review: review %> from <%= review.loan.item.user.first_name %></li>
          <% else %>
            <li>"<%= review.comment %>" - <%= render 'shared/review', review: review %> from <%= review.loan.user.first_name %></li>
          <% end %>
        <% end %>
      <% else %>
        <p>No reviews yet for <%= @user.first_name %></p>
      <% end %>
    </ul>
  </div>
</div>
