<div class= "user-show-container">
  <h1>Your historic with: <%= @user.first_name %> <%= @user.last_name %> </h1>
  <div class="dashboard-container">
    <div class="loan-index">
      <% @user.loans.each do |loan| %>
        <% if (current_user == loan.item.user || current_user == loan.user) %>
          <% if loan.item.user == current_user %>
            <div class="card-lending">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p>Lent</p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ“ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <%='ðŸ’Œ'%>
                <%='ðŸ”„'%>
                <% if loan.user.reviews.length >= 2 %>
                  <%= 'ðŸŒŸ' %>
                <% elsif loan.user.reviews.length == 1 %>
                  <%= 'â­' %>
                <% else %>
                  <%= 'ðŸ˜’' %>
                <% end %>
                <span title="Mark as returned"><%= link_to 'ðŸ”„', loan_mark_path(loan), method: :patch, class: 'text-decoration-none'%></span>
              </div>
              <div class='chatbox'>
                <% @chatroom = @chatrooms.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @loans.each do |loan| %>
          <% if (loan.item.user == @user && loan.user == current_user) %>
            <div class="card-borrowing">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p>Borrowed</p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ“ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <%='ðŸ”„'%>
                <% if loan.user.reviews.length >= 2 %>
                  <%= 'ðŸŒŸ' %>
                <% elsif loan.user.reviews.length == 1 %>
                  <%= 'â­' %>
                <% else %>
                  <%= 'ðŸ˜’' %>
                <% end %>
              </div>
              <div class='chatbox'>
                <% @chatroom = @chatrooms.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
<p style="color: white; font-size: 40px;">Reviews for <%= @user.first_name %></p>
<ul style="list-style-type: none">
  <% if @user.reviews.present? %>
    <%  @user.reviews.each do |review| %>
      <li>"<%= review.comment %>" from <%= review.loan.item.user.first_name %></li>
    <% end %>
  <% else %>
    <li>The user has no reviews...</li>
  <% end %>
</ul>
</div>
