<div class= "user-show-container">
  <h1>Your historic with <%= @user.first_name %> <%= @user.last_name %> </h1>
  <div class="loan-index" data-controller='modal'>
    <% lendings = user_lendings(@user) %>
    <% lendings.each do |loan| %>
      <% count = 0 %>
      <% unless loan.status == 'returned' %>
        <% count += 1 %>
          <% if count % 2 == 0  %>
            <div class="card-even-lending">
              <%= render '/shared/card_lending', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% else %>
            <div class="card-odd-lending">
              <%= render '/shared/card_lending', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
        <% end %>
    <% end %>
    <% borrowings = user_borrowings(@user) %>
    <% borrowings.each do |loan| %>
      <% count =0 %>
      <% unless loan.status == 'returned' %>
        <% count += 1 %>
          <% if count % 2 == 0 %>
            <div class="card-even-borrowing">
              <%= render '/shared/card_borrowing', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% else %>
            <div class="card-odd-borrowing">
              <%= render '/shared/card_borrowing', loan: loan %>
              <div class='chatbox'>
                <% @chatroom = Chatroom.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
 </div>
    <div class="review-summary">
    <p style="color: dark; font-size: 40px;">Reviews for <%= @user.first_name %></p>
    <ul style="list-style-type: none">
      <% if @user.reviews.present? %>
        <%  @user.reviews.each do |review| %>
          <li>"<%= review.comment %>" from <%= review.loan.user.first_name %></li>
        <% end %>
        </ul>
  </div>
</div>
