<div class= "user-show-container">
  <h1>Your historic with: <%= @user.first_name %> <%= @user.last_name %> </h1>
  <div class="dashboard-container">
    <div class="loan-index">
      <% @user.loans.each do |loan| %>
        <% if (current_user == loan.item.user || current_user == loan.user) %>
          <% if loan.item.user == current_user %>
            <div class="card-lending">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p>Lent</p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ“ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <span title="Mark as returned"><%= link_to 'ðŸ”„', loan_mark_path(loan), method: :patch, class: 'text-decoration-none'%></span>

                <%='â­ï¸'%>
              </div>
              <div class='chatbox'>
                <% @chatroom = @chatrooms.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @loans.each do |loan| %>
          <% if (loan.item.user == @user && loan.user == current_user) %>
            <div class="card-borrowing">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p>Borrowed</p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ“ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <%='ðŸ”„'%>
                <%='â­ï¸'%>
              </div>
              <div class='chatbox'>
                <% @chatroom = @chatrooms.find(loan.chatroom_id) %>
                <%= render 'chatrooms/show', chatroom: @chatroom, message: @message, user: @user %>
              </div>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>

</div>
