<div class="card-borrowing">
  <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
  <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
  <div class="loan-card-item-info">
    <p><%="👤 Borrowed from #{loan.item.user.first_name}" %></p>
    <p><%="🎯 #{loan.return_date}" %></p>
    <p><%= "📝 #{loan.item.description}" %></p>
    <p><%= "Rating:  #{rating(loan)}"%></p>
  </div>
  <div class="loan-card-item-info-actions d-flex justify-content-center p-5">

    <button class="review-btn" title="Give a review" data-action='click->modal#launchReview'>⭐️</button>
    <div class="modal" data-modal-target='review'>
      <div class="modal-content">
        <span class="close" data-action='click->modal#close'>&times;</span>

        <%= render 'shared/new_review_borrower', loan: loan %>
      </div>
    </div>
    <%= link_to '💌', user_path(loan.user), class: 'return-btn'%>
    <%# <%= link_to '🔄', loan_mark_path(loan), method: :patch %>
  </div>
</div>
