<div class="dashboard-container">
  <div class="loan-index">
      <% loans.each do |loan| %>
        <div class="loan-card">
          <%= cl_image_tag (loan.item.photo.key) %>
          <div class="loan-card-item-info">
            <%= loan.item.item_name %>
            <div class="loan-card-item-info-actions">
              <%='ðŸ’Œ'%>
              <%='ðŸ”„'%>
              <%='â­ï¸'%>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
