<div class="dashboard-container">
  <div class="loan-index">
      <% loans.each do |loan| %>
        <div class="loan-card">
          <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
            <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
          <div class="loan-card-item-info">
            <% if loan.item.user == current_user %>
              <p><%= "ðŸ‘¤ #{loan.user.first_name}" %></p>
            <% else %>
              <p><%= loan.item.user.first_name %></p>
            <% end %>
            <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
            <p><%= "ðŸ‘Œ #{loan.item.description}" %></p>
          </div>
          <div class="loan-card-item-info-actions">
            <%='ðŸ’Œ'%>
            <%='ðŸ”„'%>
            <%='â­ï¸'%>
          </div>
        </div>
      <% end %>
  </div>
</div>


<%# Thibault

Valentine

Valentine %>
