<div class="container loans-user">
  <% my_friends = [] %>
  <% my_friends << my_borrowers(current_user) %>
  <% my_friends << my_lenders(current_user) %>
  <% my_friends.flatten!.each do |user|  %>
    <div class="loans-per-user">
      <%= link_to user_path(user), :action => 'go' do %>
        <div class="user-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path user.photo.key, width: 300, height: 300, crop: :fill %>')">
          <%# <div class='card-img'><%= cl_image_tag (user.photo.key), style: 'width:100px'</div> %>
          <div class="lent"><p><%= "Borrowed: #{lendings_with_current_user(user).count}" %></p></div>
          <div class="borrowed"><p><%= "Lent: #{borrowings_with_current_user(user).count }" %></p></div>
          <div class="user-name"><p><%= user.first_name %> <%= user.last_name %></p></div>
          <div class="rating">
            <%= render '/shared/rating', user: user %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
