<div class="dashboard-container">
  <div class="loan-index">
    <% loans.each do |loan| %>
      <% if loan.id % 2 == 0  %>
        <div class="card-even">
          <% if loan.item.user == current_user %>
            <div class="card-lending">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p><%= "ðŸ‘¤ Lent to #{loan.user.first_name}" %></p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ‘Œ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <%='ðŸ’Œ'%>
                <%= link_to 'ðŸ”„', loan_mark_path(loan), method: :patch %>
                <% if loan.user.reviews.length >= 2 %>
                  <%= 'ðŸŒŸ' %>
                <% elsif loan.user.reviews.length == 1 %>
                  <%= 'â­' %>
                <% else %>
                  <%= 'ðŸ˜’' %>
                <% end %>
              </div>

            </div>
          <% else %>
            <div class="card-borrowing">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p><%="ðŸ‘¤ Borrowed from #{loan.item.user.first_name}" %></p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ‘Œ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <%='ðŸ’Œ'%>
                <%= link_to 'ðŸ”„', loan_mark_path(loan), method: :patch %>
                <% if loan.user.reviews.length >= 2 %>
                  <%= 'ðŸŒŸ' %>
                <% elsif loan.user.reviews.length == 1 %>
                  <%= 'â­' %>
                <% else %>
                  <%= 'ðŸ˜’' %>
                <% end %>
              </div>

            </div>
          <% end %>
        </div>
      <% else %>
        <div class="card-odd">
          <% if loan.item.user == current_user %>
            <div class="card-lending">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p><%= "ðŸ‘¤ Lent to #{loan.user.first_name}" %></p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ‘Œ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <%='ðŸ’Œ'%>
                <%= link_to 'ðŸ”„', loan_mark_path(loan), method: :patch %>
                <% if loan.user.reviews.length >= 2 %>
                  <%= 'ðŸŒŸ' %>
                <% elsif loan.user.reviews.length == 1 %>
                  <%= 'â­' %>
                <% else %>
                  <%= 'ðŸ˜’' %>
                <% end %>
              </div>

            </div>
          <% else %>
            <div class="card-borrowing">
              <div class="loan-card-image"><%= cl_image_tag (loan.item.photo.key) %></div>
              <p style="color: white; font-size: 40px;"><%= loan.item.item_name %></p>
              <div class="loan-card-item-info">
                <p><%="ðŸ‘¤ Borrowed from #{loan.item.user.first_name}" %></p>
                <p><%="ðŸŽ¯ #{loan.return_date}" %></p>
                <p><%= "ðŸ‘Œ #{loan.item.description}" %></p>
              </div>
              <div class="loan-card-item-info-actions">
                <%='ðŸ’Œ'%>
                <%= link_to 'ðŸ”„', loan_mark_path(loan), method: :patch %>
                <% if loan.user.reviews.length >= 2 %>
                  <%= 'ðŸŒŸ' %>
                <% elsif loan.user.reviews.length == 1 %>
                  <%= 'â­' %>
                <% else %>
                  <%= 'ðŸ˜’' %>
                <% end %>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
