<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid ">
   <% if params[:controller] == 'pages' && params[:action] == 'home'%>
        <li class="nav-item  list-unstyled active">
          <h2><%= link_to "Home", root_path, class: "nav-link navbar-txt" %></h2>
        </li>
      <% else %>
        <li class="nav-item list-unstyled">
          <h2><%= link_to "Home", root_path, class: "nav-link navbar-txt" %></h2>
        </li>
      <% end %>
    <% if params[:controller] == 'users' && params[:action] == 'show'%>
      <div><%= link_to "Borrow an item", loans_borrow_path, class:'borrow-active' %></div>
      <div><%= link_to "Lend an item", new_loan_path, class:'lend-active' %></div>
    <% else %>

        <div data-navbar-target='borrow'><%= link_to "Borrow an item", loans_borrow_path, class:'borrow-active navbar-buttons' %></div>
        <div data-navbar-target='lend'><%= link_to "Lend an item", new_loan_path, class:'lend-active navbar-buttons' %></div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
            <% if (current_user.loans.any? || current_user.items.any? { |i| i.loans.any? }) %>
              <% if params[:controller] == 'pages' && params[:action] == 'home'%>
                <h2><a href="#innerlink" class="nav-link navbar-txt" data-modal-target="link">Dashboard</a></h2>
              <% else %>
                <h2><a href="/#innerlink" class="nav-link navbar-txt" data-modal-target="link">Dashboard</a></h2>
                <%# <h2 ><%= link_to "Dashboard", root_path(anchor: 'innerlink'), class:'nav-link navbar-txt'</h2> %>
              <% end %>
            <% end %>
          <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag (current_user.photo.key), class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag ('default.png'), class: "avatar-large dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
            <div class="dropdown-menu dropdown-menu-end bg-secondary bg-gradient rounded-4 p-2" aria-labelledby="navbarDropdown">
              <a href="/#map" class="dropdown-item navbar-tx" data-modal-target="link">Map</a>
              <a href="/#friends" class="dropdown-item navbar-tx" data-modal-target="link">Friends</a>
              <%= link_to 'Edit Profile', edit_user_registration_path, class:"dropdown-item navbar-tx" %>
              <%= link_to 'Log Out', destroy_user_session_path, :method => :delete, class:"dropdown-item navbar-tx" %>
            </div>
          </li>
        <% else %>
          <% if params[:controller] == 'devise/sessions' && params[:action] == 'new'  %>
            <li class="nav-item ">
              <h2><%= link_to "Log in", new_user_session_path, class: "nav-link navbar-txt active"%></h2>
            </li>
          <% else %>
            <li class="nav-item ">
              <h2><%= link_to "Log in", new_user_session_path, class: "nav-link navbar-txt" %></h2>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
