<div class="home-container d-flex justify-content-center flex-wrap">
    <div class="lend-container d-flex justify-content-center flex-column align-items-center flex-wrap">
      <h1>Good </h1>
          <%= link_to "Borrow an item", loans_borrow_path, class:'borrow-btns' %>
  </div>

    <div class="borrow-container d-flex justify-content-center flex-column align-items-center flex-wrap">
      <h1 class="gradient1"> Terms.</h1>
        <%= link_to "Lend an item", new_loan_path, class:'lend-btns'%>
    </div>
</div>

<%= render 'shared/introduction' %>



<div class="home-loans-container">
  <%= render 'shared/loans_index', users: @users %>
</div>
<%= render 'shared/index_loans', loans: @loans %>
<%= render 'shared/new_loan_mesg', loans: @loans %>
<%= render 'shared/mapbox', loans: @loans %>
