<div class="loans">
<div class="loan-index">
    <% @loans.each do |loan| %>
      <div class="loan-card">
        <img src="<%= loan.item.img_url%>" alt="item lended or borrowed">
        <div class="loan-card-item-info">
          <%= loan.item.item_name %>
          <div class="loan-card-item-info-actions">
            <%='ðŸ’Œ'%>
            <%='ðŸ”„'%>
            <%='â­ï¸'%>
          </div>
        </div>
      </div>
    <% end %>
</div>
</div>
