
<div class="form-container">
<h2>Tell us more about your item !</h2>
  <%= simple_form_for [ @loan ] do |f| %>
      <%= simple_fields_for :item do |i| %>
        <%= i.input :item_name %>
        <%= i.input :description %>
      <% end %>
      <%= f.input :photo, as: :file %>
      <%# <%= f.association :user, label: "Borrower", label_method: :first_name, value_method: :id, include_blank: false %>
      <%= f.input :user_id, collection: User.where.not(id: current_user), label: "Borrower", :label_method => :full_name, value_method: :id, include_blank: false %>
      <%= f.input :loan_date %>
      <%= f.input :return_date %>
      <%= f.submit "Let me lend this!", class: "btn submit-btns" %>
  <% end %>

</div>
