
<div class="form-container">
<h2>Tell us more about your item !</h2>
  <%= simple_form_for(@loan, as: :loan, method: :post, url: loans_borrow_path) do |f| %>
      <%= simple_fields_for :item do |i| %>
        <%= i.input :item_name %>
        <%= i.input :description %>
        <%= i.input :user_id, collection: User.all, label: "Lender", label_method: :first_name, value_method: :id, include_blank: false %>
      <% end %>
      <%= f.input :photo, as: :file %>
      <%= f.input :loan_date %>
      <%= f.input :return_date %>
      <%= f.submit "Let me borrow this!", class: "btn btn-primary submit-btns" %>
  <% end %>

</div>
