 <div class="item-container">
  <div class="container">
    <h2>Create an Item:</h2>

    <%= simple_form_for(@item) do |f| %>
      <%= f.input :item_name %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class:'submit-btns' %>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
