<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>Goodterms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d130fd400e.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bangers&family=Bebas+Neue&family=Calistoga&family=Cormorant+Garamond:ital,wght@1,300&family=Fredericka+the+Great&family=Oswald:wght@200;300;400&family=Playfair+Display&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body data-spy="scroll" data-target="#myScrollspy" class="">
  <section class="margin-400">
   <div class="mid-container">
     <%= render 'shared/navbar'%>


      <%= yield %>
      <%= render 'shared/flashes' %>
   </div>
  </section>
   <%= render 'shared/footer'%>
  </body>
</html>
